{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}


<body class="body-messages">
    <main class="main-messages">
        <h2>{{ recipient.username }}</h2>
        

        <div class="chat-box">
            {% for message in messages %}
                <div class="message {% if message.sender == app.user %}sent{% else %}received{% endif %}">
                
                    <div class="fonction-conv"> 
                        {% if message.sender == app.user %}
                        <!-- Bouton de suppression pour les messages envoyés par l'utilisateur -->
                        <form method="POST" action="{{ path('app_messages_delete', {'messageId': message.id}) }}">
                            <button type="submit" onclick="return confirm('Voulez-vous vraiment supprimer ce message ?');">
                                <i class="fa-solid fa-trash" style="color: #e82011;"></i> 
                            </button>
                        </form>
                        {% endif %}

                        <p>
                            <strong>{{ message.sender.username }}</strong> <!-- Afficher l'expéditeur -->
                        </p>

                        </div>
                        <p>
                            {{ message.content }}
                        </p>
                        <p>
                        <small>{{ message.createdAt|date('H:i d/m/Y') }}</small>
                        </p>

                    
                </div>

            {% else %}
                <p>Aucun message.</p>
            {% endfor %}
        </div>

        <form id="form-send-messages" action="{{ path('app_messages_send', {'id': recipient.id}) }}" method="post">
            <textarea name="message" required></textarea>
            <button type="submit">Envoyer</button>
        </form>
    </main>
</body>

{% endblock %}